#portfolio {
  padding: 50px 0;
  max-width: 1400px;
  margin: 20px auto;

  h2 {
    font-weight: 700;
    text-align: center;
    margin: 50px 0;
    font-size: 2.2em;
    color: black;
  }

  .portfolio-item {
    margin: 150px 0;
    opacity: 0;
    .portfolio-item-image {
      .img-wrapper {
        overflow: hidden;
        border-radius: 8px;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
        transition: all .5s;
        position: relative;
        img {
          transition: all .5s;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          filter: brightness(1);
        }
        &:hover {
          box-shadow: 0 15px 10px rgba(0, 0, 0, 0.5);
          img {
            transform: scale(1.1);
            filter: brightness(0.6);
          }
          p {
            visibility: visible;
            opacity: 1;
          }
        }
        p {
          visibility: hidden;
          opacity: 0;
          position: absolute;
          width: 100%;
          text-align: center;
          top: 50%;
          bottom: 50%;
          transition: opacity .5s, visibility .5s;
          font-size: 1.5em;
          font-weight: 700;
          color: #fff;
        }
      }

    }
    .portfolio-item-description {
      a {
        font-weight: 700;
        color: black;
        display: inline;
        font-size: 1.3em;
        position: relative;
        transition: clip-path 150ms ease;
        &:hover span::before, &:focus span::before {
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        }
        span {
          position: relative;
          display: inline-block;
          color: black;
          &::before {
            position: absolute;
            content: attr(data-content);
            color: black;
            text-decoration: underline;
            text-decoration-color: black;
            clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
            transition: clip-path 150ms ease;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  #portfolio .portfolio-item {
    margin: 30px 0;
  }
  .reverse-columns-order {
    flex-direction: column-reverse;
    display: flex;
  }
}
