// fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&family=Proza+Libre:ital,wght@0,400;0,700;1,400&display=swap');
// font-family: 'Open Sans', sans-serif;
// font-family: 'Proza Libre', sans-serif;

// files
@import './pages/index.scss';
@import '../../node_modules/bulma/css/bulma.css';

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Proza Libre', sans-serif
}

html {
  scroll-behavior: smooth;
}

#portfolio, #formation, #contact {
  max-width: 1400px;
  margin: 0 auto;
  
  h2 {
    padding-top: 150px;
    font-weight: 700;
    text-align: center;
    font-size: 2.2em;
    color: black;
  }
  p.intro {
    padding-bottom: 150px;
    text-align: center;
  }
  p.intro:last-child {
    padding-bottom: 100px;
  }
}

hr.break {
  max-width: 1400px;
  margin: 0 auto;
  height: 1px;
  background-color: rgb(214, 214, 214);
  background-color: rgb(226, 226, 226);
  border: none;
}
